.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    text-align: center;
  }
  
  .footer-icons {
    margin-top: 10px;
  }
  
  .footer-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-icons a:hover {
    color: #00aaff;
  }
  